body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.u-flex {
  display: flex;
}

.u-auto {
  margin: auto;
}

.u-column {
  display: flex;
  flex-direction: column;
}

.u-wrap {
  flex-wrap: wrap;
}

.icon-car {
  background-image: url("/car.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-pets {
  background-image: url("/pets.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-health {
  background-image: url("/health.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-house {
  background-image: url("/house.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
